In [3]:
import json
from collections import defaultdict

In [4]:
nq_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49754/NQ_eval.json'
tq_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49755/TQ_eval.json'

In [5]:
with open(nq_dir) as f:
    nq=json.load(f)
with open(tq_dir) as f:
    tq=json.load(f)

### NQ

In [14]:
ent_set=defaultdict(list)

In [15]:
for d in nq:
    if d['ans_type'] in others:
        ent_set['others'].append(d)
    else:
        ent_set[d['ans_type']].append(d)

In [8]:
others=['NORP', 'LOC','WORK_OF_ART','FAC','PRODUCT','EVENT','LAW','LANGUAGE']

In [9]:
methods=['golden_answer', 'fb', 'inst_expand']

In [25]:
for met in methods:
    print('Result using: ', met)
    met_ans=0
    met_num=0
    
    for key in ent_set.keys():
        ent_ans=0
        ent_num=0
        for d in ent_set[key]:
            ent_num+=1
            ent_ans+=len(d[met])
        print('Average on {} data in {} type'.format(ent_num,key))
        print('Methods: {}, entity_type: {}'.format(met, key))
        print('Average number of annotation: %5.3f'%(ent_ans/ent_num))
        print()
        
        met_ans+=ent_ans
        met_num+=ent_num
    
    print('Result using methods {}'.format(met))
    print(met_ans/met_num)
    print()
    print('--------------------')

Result using:  golden_answer
Average on 1035 data in PERSON type
Methods: golden_answer, entity_type: PERSON
Average number of annotation: 1.951

Average on 586 data in unknown type
Methods: golden_answer, entity_type: unknown
Average number of annotation: 1.691

Average on 169 data in CARDINAL type
Methods: golden_answer, entity_type: CARDINAL
Average number of annotation: 1.633

Average on 185 data in others type
Methods: golden_answer, entity_type: others
Average number of annotation: 1.773

Average on 288 data in GPE type
Methods: golden_answer, entity_type: GPE
Average number of annotation: 2.160

Average on 198 data in ORG type
Methods: golden_answer, entity_type: ORG
Average number of annotation: 1.970

Average on 499 data in DATE type
Methods: golden_answer, entity_type: DATE
Average number of annotation: 1.723

Average on 13 data in ORDINAL type
Methods: golden_answer, entity_type: ORDINAL
Average number of annotation: 2.154

Average on 19 data in QUANTITY type
Methods: golden_answer, entity_type: QUANTITY
Average number of annotation: 1.842

Average on 11 data in MONEY type
Methods: golden_answer, entity_type: MONEY
Average number of annotation: 1.273

Average on 10 data in PERCENT type
Methods: golden_answer, entity_type: PERCENT
Average number of annotation: 1.400

Average on 7 data in TIME type
Methods: golden_answer, entity_type: TIME
Average number of annotation: 1.143

Result using methods golden_answer
1.849337748344371

--------------------
Result using:  fb
Average on 1035 data in PERSON type
Methods: fb, entity_type: PERSON
Average number of annotation: 13.386

Average on 586 data in unknown type
Methods: fb, entity_type: unknown
Average number of annotation: 14.857

Average on 169 data in CARDINAL type
Methods: fb, entity_type: CARDINAL
Average number of annotation: 26.633

Average on 185 data in others type
Methods: fb, entity_type: others
Average number of annotation: 9.832

Average on 288 data in GPE type
Methods: fb, entity_type: GPE
Average number of annotation: 32.510

Average on 198 data in ORG type
Methods: fb, entity_type: ORG
Average number of annotation: 11.778

Average on 499 data in DATE type
Methods: fb, entity_type: DATE
Average number of annotation: 4.220

Average on 13 data in ORDINAL type
Methods: fb, entity_type: ORDINAL
Average number of annotation: 6.308

Average on 19 data in QUANTITY type
Methods: fb, entity_type: QUANTITY
Average number of annotation: 2.526

Average on 11 data in MONEY type
Methods: fb, entity_type: MONEY
Average number of annotation: 10.182

Average on 10 data in PERCENT type
Methods: fb, entity_type: PERCENT
Average number of annotation: 24.500

Average on 7 data in TIME type
Methods: fb, entity_type: TIME
Average number of annotation: 9.143

Result using methods fb
14.315562913907284

--------------------
Result using:  inst_expand
Average on 1035 data in PERSON type
Methods: inst_expand, entity_type: PERSON
Average number of annotation: 7.704

Average on 586 data in unknown type
Methods: inst_expand, entity_type: unknown
Average number of annotation: 30.143

Average on 169 data in CARDINAL type
Methods: inst_expand, entity_type: CARDINAL
Average number of annotation: 6.686

Average on 185 data in others type
Methods: inst_expand, entity_type: others
Average number of annotation: 4.081

Average on 288 data in GPE type
Methods: inst_expand, entity_type: GPE
Average number of annotation: 9.868

Average on 198 data in ORG type
Methods: inst_expand, entity_type: ORG
Average number of annotation: 8.273

Average on 499 data in DATE type
Methods: inst_expand, entity_type: DATE
Average number of annotation: 15.110

Average on 13 data in ORDINAL type
Methods: inst_expand, entity_type: ORDINAL
Average number of annotation: 9.000

Average on 19 data in QUANTITY type
Methods: inst_expand, entity_type: QUANTITY
Average number of annotation: 15.895

Average on 11 data in MONEY type
Methods: inst_expand, entity_type: MONEY
Average number of annotation: 4.545

Average on 10 data in PERCENT type
Methods: inst_expand, entity_type: PERCENT
Average number of annotation: 5.100

Average on 7 data in TIME type
Methods: inst_expand, entity_type: TIME
Average number of annotation: 6.286

Result using methods inst_expand
13.28046357615894

--------------------

### TQ

In [6]:
ent_set=defaultdict(list)

In [10]:
for d in tq:
    if d['ans_type'] in others:
        ent_set['others'].append(d)
    else:
        ent_set[d['ans_type']].append(d)

In [11]:
methods=['golden_answer', 'fb', 'wiki', 'inst_expand']

In [12]:
for met in methods:
    print('Result using: ', met)
    met_ans=0
    met_num=0
    
    for key in ent_set.keys():
        ent_ans=0
        ent_num=0
        for d in ent_set[key]:
            ent_num+=1
            ent_ans+=len(d[met])
        print('Average on {} data in {} type'.format(ent_num,key))
        print('Methods: {}, entity_type: {}'.format(met, key))
        print('Average number of annotation: %5.3f'%(ent_ans/ent_num))
        print()
        
        met_ans+=ent_ans
        met_num+=ent_num
    
    print('Result using methods {}'.format(met))
    print(met_ans/met_num)
    print()
    print('--------------------')

Result using:  golden_answer
Average on 744 data in PERSON type
Methods: golden_answer, entity_type: PERSON
Average number of annotation: 1.000

Average on 157 data in others type
Methods: golden_answer, entity_type: others
Average number of annotation: 1.000

Average on 380 data in ORG type
Methods: golden_answer, entity_type: ORG
Average number of annotation: 1.000

Average on 296 data in GPE type
Methods: golden_answer, entity_type: GPE
Average number of annotation: 1.000

Average on 189 data in unknown type
Methods: golden_answer, entity_type: unknown
Average number of annotation: 1.000

Average on 52 data in DATE type
Methods: golden_answer, entity_type: DATE
Average number of annotation: 1.000

Average on 105 data in CARDINAL type
Methods: golden_answer, entity_type: CARDINAL
Average number of annotation: 1.000

Average on 4 data in MONEY type
Methods: golden_answer, entity_type: MONEY
Average number of annotation: 1.000

Average on 5 data in TIME type
Methods: golden_answer, entity_type: TIME
Average number of annotation: 1.000

Average on 2 data in PERCENT type
Methods: golden_answer, entity_type: PERCENT
Average number of annotation: 1.000

Average on 3 data in ORDINAL type
Methods: golden_answer, entity_type: ORDINAL
Average number of annotation: 1.000

Average on 1 data in QUANTITY type
Methods: golden_answer, entity_type: QUANTITY
Average number of annotation: 1.000

Result using methods golden_answer
1.0

--------------------
Result using:  fb
Average on 744 data in PERSON type
Methods: fb, entity_type: PERSON
Average number of annotation: 12.868

Average on 157 data in others type
Methods: fb, entity_type: others
Average number of annotation: 12.892

Average on 380 data in ORG type
Methods: fb, entity_type: ORG
Average number of annotation: 18.250

Average on 296 data in GPE type
Methods: fb, entity_type: GPE
Average number of annotation: 18.186

Average on 189 data in unknown type
Methods: fb, entity_type: unknown
Average number of annotation: 10.222

Average on 52 data in DATE type
Methods: fb, entity_type: DATE
Average number of annotation: 9.327

Average on 105 data in CARDINAL type
Methods: fb, entity_type: CARDINAL
Average number of annotation: 22.190

Average on 4 data in MONEY type
Methods: fb, entity_type: MONEY
Average number of annotation: 3.500

Average on 5 data in TIME type
Methods: fb, entity_type: TIME
Average number of annotation: 26.800

Average on 2 data in PERCENT type
Methods: fb, entity_type: PERCENT
Average number of annotation: 23.000

Average on 3 data in ORDINAL type
Methods: fb, entity_type: ORDINAL
Average number of annotation: 2.333

Average on 1 data in QUANTITY type
Methods: fb, entity_type: QUANTITY
Average number of annotation: 1.000

Result using methods fb
14.89422084623323

--------------------
Result using:  wiki
Average on 744 data in PERSON type
Methods: wiki, entity_type: PERSON
Average number of annotation: 13.391

Average on 157 data in others type
Methods: wiki, entity_type: others
Average number of annotation: 13.083

Average on 380 data in ORG type
Methods: wiki, entity_type: ORG
Average number of annotation: 14.703

Average on 296 data in GPE type
Methods: wiki, entity_type: GPE
Average number of annotation: 27.280

Average on 189 data in unknown type
Methods: wiki, entity_type: unknown
Average number of annotation: 3.460

Average on 52 data in DATE type
Methods: wiki, entity_type: DATE
Average number of annotation: 6.654

Average on 105 data in CARDINAL type
Methods: wiki, entity_type: CARDINAL
Average number of annotation: 5.943

Average on 4 data in MONEY type
Methods: wiki, entity_type: MONEY
Average number of annotation: 1.750

Average on 5 data in TIME type
Methods: wiki, entity_type: TIME
Average number of annotation: 12.600

Average on 2 data in PERCENT type
Methods: wiki, entity_type: PERCENT
Average number of annotation: 3.000

Average on 3 data in ORDINAL type
Methods: wiki, entity_type: ORDINAL
Average number of annotation: 9.333

Average on 1 data in QUANTITY type
Methods: wiki, entity_type: QUANTITY
Average number of annotation: 1.000

Result using methods wiki
14.142414860681114

--------------------
Result using:  inst_expand
Average on 744 data in PERSON type
Methods: inst_expand, entity_type: PERSON
Average number of annotation: 5.531

Average on 157 data in others type
Methods: inst_expand, entity_type: others
Average number of annotation: 2.038

Average on 380 data in ORG type
Methods: inst_expand, entity_type: ORG
Average number of annotation: 2.405

Average on 296 data in GPE type
Methods: inst_expand, entity_type: GPE
Average number of annotation: 3.179

Average on 189 data in unknown type
Methods: inst_expand, entity_type: unknown
Average number of annotation: 14.735

Average on 52 data in DATE type
Methods: inst_expand, entity_type: DATE
Average number of annotation: 8.923

Average on 105 data in CARDINAL type
Methods: inst_expand, entity_type: CARDINAL
Average number of annotation: 4.314

Average on 4 data in MONEY type
Methods: inst_expand, entity_type: MONEY
Average number of annotation: 4.250

Average on 5 data in TIME type
Methods: inst_expand, entity_type: TIME
Average number of annotation: 4.800

Average on 2 data in PERCENT type
Methods: inst_expand, entity_type: PERCENT
Average number of annotation: 5.000

Average on 3 data in ORDINAL type
Methods: inst_expand, entity_type: ORDINAL
Average number of annotation: 5.000

Average on 1 data in QUANTITY type
Methods: inst_expand, entity_type: QUANTITY
Average number of annotation: 6.000

Result using methods inst_expand
5.192982456140351

--------------------

In [28]:
for k in ent_set.keys():
    print(k, len(ent_set[k]))

PERSON 744
others 157
ORG 380
GPE 296
unknown 189
DATE 52
CARDINAL 105
MONEY 4
TIME 5
PERCENT 2
ORDINAL 3
QUANTITY 1

### Error case

In [34]:
with open('/home/donaldo9603/workspace/numeric/data/evouna/few_shot/1130NQ_train_expansion.json') as f:
    few=json.load(f)

In [38]:
few['ORDINAL']

[{'type': 'exact_match',
  'question': "ranking of st john's medical college bangalore",
  'gold_ans': ['14th'],
  'ans_type': 'ORDINAL',
  'posneg': 'pos',
  'cand_ans_sent': "The ranking of St John's medical college Bangalore is the 14th.",
  'cand_ans_short': '14th',
  'explanation': 'The candidate answer includes the term 14th, which is exactly same with one of the golden answer. So the answer is Yes.',
  'expand': ['14th', 'fourteenth']},
 {'type': 'string_conversion',
  'question': 'which is the last season of game of thrones',
  'gold_ans': ['The eighth'],
  'ans_type': 'ORDINAL',
  'posneg': 'neg',
  'cand_ans_sent': 'The last season of Game of Thrones is 7th.',
  'cand_ans_short': '7th',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.',
  'expand': ['The eighth', 'eighth', 'eighth season', '8th', '8th season']},
 {'type': 'string_conversion',
  'question': 'when do the premier league teams enter the league cup',
  'gold_ans': ['second round'],
  'ans_type': 'ORDINAL',
  'posneg': 'pos',
  'cand_ans_sent': 'The Premier league teams enter the league cup in the 2nd round.',
  'cand_ans_short': '2nd round',
  'explanation': 'The candidate answer includes the term 2nd round, which is equivalent with one of the golden answer. So the answer is Yes.',
  'expand': ['second round', 'second', '2nd', '2nd round', 'in 2nd round']},
 {'type': 'exact_match',
  'question': 'what rank is a tsgt in the air force',
  'gold_ans': ['sixth enlisted rank'],
  'ans_type': 'ORDINAL',
  'posneg': 'neg',
  'cand_ans_sent': 'TSGT is fifth rank in the Air force.',
  'cand_ans_short': 'fifth rank',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.',
  'expand': ['sixth enlisted rank', 'sixth', 'sixth rank', '6th', '6th rank']},
 {'type': 'string_conversion',
  'question': 'what season of the vampire diaries did the originals start',
  'gold_ans': ['fifth'],
  'ans_type': 'ORDINAL',
  'posneg': 'pos',
  'cand_ans_sent': 'Vampire diaries originals started in the 5th season.',
  'cand_ans_short': '5th season',
  'explanation': 'The candidate answer includes the term 5th, which is equivalent with one of the golden answer. So the answer is Yes.',
  'expand': ['fifth',
   '5th',
   '5th season',
   'in 5th season',
   'in fifth season',
   'fifth season']},
 {'type': 'exact_match',
  'question': 'where did lucy jones come in the eurovision 2017',
  'gold_ans': ['15th place'],
  'ans_type': 'ORDINAL',
  'posneg': 'neg',
  'cand_ans_sent': 'Lucy Jones was 11st place in the Eurovision 2017.',
  'cand_ans_short': '11st',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.',
  'expand': ['15th place', '15th', 'fifteenth', 'fifteenth place']},
 {'type': 'exact_match',
  'question': 'when did forrest gump win the academy award for best picture',
  'gold_ans': ['67th Academy Awards'],
  'ans_type': 'ORDINAL',
  'posneg': 'pos',
  'cand_ans_sent': 'Forrest Gump won the best picture award in the 67th Academy Awards.',
  'cand_ans_short': '67th Academy Awards',
  'explanation': 'The candidate answer includes the term 67th Academy Awards, which is exactly same with one of the golden answer. So the answer is Yes.',
  'expand': ['67th Academy Awards',
   '67th',
   'in 67th Academy Awards',
   'sixty-seventh']},
 {'type': 'string_conversion',
  'question': "what season does mark sloan die in grey's anatomy",
  'gold_ans': ['ninth'],
  'ans_type': 'ORDINAL',
  'posneg': 'neg',
  'cand_ans_sent': "Mark Sloan died in the 8th season of Grey's Anatomy.",
  'cand_ans_short': '8th',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.',
  'expand': ['ninth',
   '9th',
   '9th season',
   'in 9th season',
   'in ninth season',
   'ninth season']},
 {'question': 'what pick was peyton manning in the draft',
  'gold_ans': ['First selection'],
  'ans_type': 'ORDINAL',
  'cand_ans_sent': 'Peyton Manning was the 1st selection in the draft.',
  'cand_ans_short': '1st',
  'posneg': 'pos',
  'type': 'string_conversion',
  'explanation': 'The candidate answer includes the term 1st selection, which is equivalent with one of the golden answer. So the answer is Yes.'},
 {'ans_type': 'ORDINAL',
  'question': 'what place did fifth harmony get on the x factor',
  'gold_ans': ['third place'],
  'cand_ans_sent': 'The Fift Harmony get fifth place on the x factor.',
  'cand_ans_short': 'fifth',
  'posneg': 'neg',
  'type': 'exact_match',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.'},
 {'ans_type': 'ORDINAL',
  'question': 'when did gone with the wind received ten academy awards',
  'gold_ans': ['the 12th Academy Awards'],
  'cand_ans_sent': 'Gone with the wind received ten academy awards in the 12th Academy Awards.',
  'cand_ans_short': '12th Academy Awards',
  'posneg': 'pos',
  'type': 'exact_match',
  'explanation': 'The candidate answer includes the term 12th Academy Awards, which is exactly same with one of the golden answer. So the answer is Yes.'},
 {'ans_type': 'ORDINAL',
  'question': 'what was the last season of once upon a time',
  'gold_ans': ['The seventh season'],
  'cand_ans_sent': 'The last season of Once Upon a time was 5th season.',
  'cand_ans_short': '5th season',
  'posneg': 'neg',
  'type': 'string_conversion',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.'},
 {'ans_type': 'ORDINAL',
  'question': 'what number state is west virginia to enter the union',
  'gold_ans': ['35th'],
  'cand_ans_sent': 'West Virginia entered the union in the 35th.',
  'cand_ans_short': '35th',
  'posneg': 'pos',
  'type': 'exact_match',
  'explanation': 'The candidate answer includes the term 35th, which is exactly same with one of the golden answer. So the answer is Yes.'},
 {'ans_type': 'ORDINAL',
  'question': 'when was aaron rodgers picked in the draft',
  'gold_ans': ['24th overall pick'],
  'cand_ans_sent': 'Aaron Rodgers was picked 25th overall in the draft.',
  'cand_ans_short': '25th',
  'posneg': 'neg',
  'type': 'exact_match',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.'},
 {'ans_type': 'ORDINAL',
  'question': 'where did brazil finish in 2014 world cup',
  'gold_ans': ['fourth place'],
  'cand_ans_sent': 'Brazil finised in the 4th place in 2014 World Cup.',
  'cand_ans_short': '4th place',
  'posneg': 'pos',
  'type': 'string_conversion',
  'explanation': 'The candidate answer includes the term 4th place, which is equivalent with one of the golden answer. So the answer is Yes.'},
 {'ans_type': 'ORDINAL',
  'question': 'what is indian air force rank in the world',
  'gold_ans': ['fourth'],
  'cand_ans_sent': 'Indian air force rank is 3rd in the world.',
  'cand_ans_short': '3rd',
  'posneg': 'neg',
  'type': 'string_conversion',
  'explanation': 'The candidate answer does not include any of the golden answer. So the answer is No.'}]

### TP FN

In [17]:
from eval import metric_max_over_ground_truths, soft_exact_match_score

/home/donaldo9603/.conda/envs/numeric/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.
/home/donaldo9603/.conda/envs/numeric/lib/python3.11/site-packages/transformers/convert_slow_tokenizer.py:470: UserWarning: The sentencepiece tokenizer that you are converting to a fast tokenizer uses the byte fallback option which is not implemented in the fast tokenizers. In practice this means that the fast version of the tokenizer can produce unknown tokens whereas the sentencepiece version would have converted these unknown tokens into a sequence of byte tokens matching the original piece of text.
  warnings.warn(
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [151]:
#data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49755/TQ_eval.json'
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49754/NQ_eval.json'

In [152]:
with open(data_dir) as f:
    data=json.load(f)

In [153]:
model='gpt35'

In [154]:
orig_fn=0
orig_fp=0
ext_fn=0
ext_fp=0

orig_crt=0
ext_crt=0

turn_wrong=[]
turn_right=[]

for d in data:
    human=1 if d['judge_{}'.format(model)] else 0
    orig=metric_max_over_ground_truths(soft_exact_match_score, d['answer_{}'.format(model)], d['golden_answer']) 
    ext=metric_max_over_ground_truths(soft_exact_match_score, d['answer_{}'.format(model)], d['inst_expand']) 
    
    if orig!=human:
        if ext==human:
            turn_right.append(d)
        if orig==1:
            orig_fp+=1
        else:
            orig_fn+=1
    else:
        orig_crt+=1
    
    if ext!=human:
        if orig==human:
            turn_wrong.append(d)
        if ext==1:
            ext_fp+=1
            
        else:
            ext_fn+=1
    else:
        ext_crt+=1

print("Original")
print('FP: {}'.format(orig_fp))
print('FN: {}'.format(orig_fn))
print('total acc: %5.3f'%(orig_crt/len(data)))
print()
print("Extension")
print('FP: {}'.format(ext_fp))
print('FN: {}'.format(ext_fn))
print('total acc: %5.3f'%(ext_crt/len(data)))

Original
FP: 7
FN: 450
total acc: 0.849

Extension
FP: 230
FN: 198
total acc: 0.858

In [155]:
print(len(turn_right))
print(len(turn_wrong))

252
223

In [156]:
wrong=[]
for d in turn_wrong:
    wrong.append(d['ans_type'])
print(Counter(wrong).most_common())

[('PERSON', 61), ('unknown', 59), ('DATE', 44), ('GPE', 26), ('ORG', 16), ('CARDINAL', 6), ('NORP', 4), ('WORK_OF_ART', 2), ('LOC', 1), ('QUANTITY', 1), ('PRODUCT', 1), ('FAC', 1), ('TIME', 1)]

In [150]:
turn_wrong[0].keys()

dict_keys(['question', 'golden_answer', 'answer_fid', 'judge_fid', 'answer_gpt35', 'judge_gpt35', 'answer_chatgpt', 'judge_chatgpt', 'answer_gpt4', 'judge_gpt4', 'answer_newbing', 'judge_newbing', 'improper', 'ans_type', 'fb', 'inst_expand_input', 'inst_expand'])

In [ ]:
for d in turn_wrong[:10]:
    #print(d['question'])
    #print(d['golden_answer'])
    print(d['inst_expand'])
    print(d['ans_type'])
    print(d['inst_expand_input'])
    #print(d['answer_{}'.format(model)])
    print()

In [68]:
from collections import Counter

In [65]:
for fp in fps:
    if fp['ans_type']=='PERSON':
        print(fp['answer_{}'.format(model)])
        print(fp['golden_answer'])
        print(fp['inst_expand'])
        print()

The only Englishman to become Pope was Adrian IV, who was Pope from 1154 to 1159.
['Nicholas Breakspear, who was Adrian IV from 1154 to 1159']
['Nicholas Breakspear, who was Adrian IV from 1154 to 1159', 'Adrian IV', 'Nicholas Breakspear', 'Adrianus IV', 'Nicholas Breakspear', 'Adrian IV of Rome']

The comic strip character "Bruiser" was named after heavyweight boxing champion James J. Jeffries.
['Jeff, of Mutt and Jeff']
['Jeff, of Mutt and Jeff', 'James J. Jeffries', 'Jeffries']

The two prime ministers of Britain during World War II were Winston Churchill (1940-1945) and Clement Attlee (1945-1951).
['Neville Chamberlain and Winston Churchill']
['Neville Chamberlain and Winston Churchill', 'Chamberlain and Churchill', 'Neville Chamberlain', 'Winston Churchill', 'Chamberlain', 'Churchill']

In January 2004, Jason Alexander from Louisiana made headlines when he was arrested for allegedly shooting a man in a road rage incident. Alexander was charged with attempted second-degree murder and later pleaded guilty to an amended charge of aggravated battery.
['He married Britney Spears']
['He married Britney Spears', 'He married Britney Jean Spears', 'Jason Alexander', 'Britney Spears', 'Jason Alexander and Britney Spears']

The Canary Islands are named after the canary bird, which is native to the islands.
['Dog']
['Dog', 'Canary', 'Canary bird']

Jupiter. Jupiter has four large moons known as the Galilean moons, named after their discoverer Galileo Galilei. The four moons are Io, Europa, Ganymede, and Callisto. These moons have been given nicknames derived from characters in the works of William Shakespeare: Io is named after the character in Othello, Europa is named after the princess in King Lear, Ganymede is named after the page in As You Like It, and Callisto is named after the nymph in The Winter's Tale.
['Uranus']
['Uranus', 'William Shakespeare', "William Shakespeare's planet", "Uranus' moons"]

Burnside was a spin off from the Australian series Blue Heelers.
['The Bill']
['The Bill', 'Blue Heelers', 'Blue Heelers: Burnside', 'Burnside']

You are playing a 16-ender, which is the maximum number of ends in a bonspiel.
['Curling']
['Curling', 'Enders', 'Bonspiel']

The GMC Jimmy is a mid-size SUV produced by General Motors.
['SUZUKI']
['SUZUKI', 'General Motors', 'Suzuki Motor Corporation', 'GM', 'Suzuki Motor Co.', 'Suzuki Motor Company']

Leonid Brezhnev succeeded Nikita Kruschev as leader of the Soviet Union in 1964.
['ALEXEI KOSYGIN']
['ALEXEI KOSYGIN', 'Leonid Brezhnev', 'Leonid Ilyich Brezhnev', 'Leonid I. Brezhnev']

The actor who has played James Bond in the most movies is Sean Connery, with seven films.
['Roger Moore']
['Roger Moore', 'George Lazenby', 'Sean Connery', 'Timothy Dalton', 'Pierce Brosnan', 'Daniel Craig']

The Monument is located in Monument Street in the City of London.
['Pudding Lane']
['Pudding Lane', ' Fish Street Hill', ' Monument Street', ' Monument Lane', ' Monument Road']

Venus Williams
['Serena Williams']
['Serena Williams', 'Williams', 'Serena', 'Serena Jameka Williams']

Angelina Jolie is the daughter of actor Jon Voight.
['JOHN VOIGHT']
['JOHN VOIGHT', 'John Voight', 'Jon Voight', 'Jonathan Vincent Voight']

The robot co-pilot of XL5 is named Zoonie the Lazoon.
['Robert the Robot']
['Robert the Robot', 'Robert', 'Robbie', 'Robot']

Jean-Paul Marat was a physician and political theorist.
['Journalist']
['Journalist', 'Physician', 'Doctor', 'Revolutionary']

A cargo ship would have carried these items.
['"A DIRTY BRITISH COASTER (in John Masefield\'s ""Cargoes"")"']
['"A DIRTY BRITISH COASTER (in John Masefield\'s ""Cargoes"")"', 'British coaster', 'Coaster', 'Ship']

?

Dame Edna Everage is a comedic character created by Australian comedian Barry Humphries. She is a character of a suburban housewife from Melbourne, Australia.
['Moony Ponds']
['Moony Ponds', ' Moonee Ponds', ' Melbourne', ' Victoria']

The engineer with the big triangular hairstyle in the Dilbert cartoons is named Wally.
['Alice']
['Alice', 'Asok', 'Carol', 'Carol the Secretary', "Dilbert's Boss", "Dilbert's Coworker", "Dilbert's Coworkers", "Dilbert's Manager", "Dilbert's Secretary", "Dilbert's Supervisor", "Dilbert's Teammate", "Dilbert's Teammates", "Dilbert's Workmate", "Dilbert's Workmates", 'Dogbert', 'Dogbert the Dog', 'Elbonia', 'Engineer', 'Engineers', 'Janet', 'Jimmy', 'Jimmy the Intern', 'Loud Howard', 'Mordac', 'Mordac the Preventer of Information Services', 'Phil', 'Phil the Prince of Insufficient Light', 'Ratbert', 'Ted', 'Ted the Generic Guy', 'Tina', 'Tina the Tech Writer', 'Wally', 'Wally the Engineer']

In [62]:
print(Counter(fp_types))

Counter({'unknown': 22, 'PERSON': 19, 'ORG': 11, 'GPE': 3, 'NORP': 2, 'PERCENT': 1, 'LOC': 1, 'CARDINAL': 1})