In [16]:
numeric_type=['CARDINAL', 'DATE', 'MONEY', 'PERCENT', 'QUANTITY', 'TIME', 'ORDINAL']
nonnumeric_type=['EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'NORP',
 'ORG',
 'PERSON',
 'PRODUCT',
 'WORK_OF_ART']

In [36]:
from eval import f1_score, normalize_answer

In [3]:
from collections import Counter

In [13]:
import json
import spacy

In [65]:
dev_dir='/home/donaldo9603/workspace/numeric/data/nq/original_nq_dev_anstype.json'
train_dir='/home/donaldo9603/workspace/numeric/data/nq/original_nq_train_anstype.json'

In [66]:
with open(dev_dir) as f:
    dev=json.load(f)

In [67]:
with open(train_dir) as f:
    train=json.load(f)

In [68]:
print(len(dev))
print(len(train))

3610
87925

### Strict tagging

In [72]:
dev[0]

{'id': 0,
 'question': 'when was the last time anyone was on the moon',
 'answer': ['14 December 1972 UTC', 'December 1972'],
 'ans_type': ['DATE']}

In [9]:
def all_same(l):
    return True if all(l[0]==d for d in l) else False

In [80]:
strict_dev_types=[]
for d in dev:
    if len(d['ans_type'])==1 or all_same(d['ans_type']):
        strict_dev_types.append(d['ans_type'][0])

In [82]:
for num in numeric_type:
    print(num, Counter(strict_dev_types)[num])

CARDINAL 219
DATE 638
MONEY 14
PERCENT 14
QUANTITY 22
TIME 10
ORDINAL 13

In [83]:
for non in nonnumeric_type:
    print(non, Counter(strict_dev_types)[non])

EVENT 9
FAC 19
GPE 322
LANGUAGE 2
LAW 3
LOC 47
NORP 75
ORG 209
PERSON 1101
PRODUCT 17
WORK_OF_ART 14

In [84]:
strict_train_types=[]
for d in train:
    if len(d['ans_type'])==1 or all_same(d['ans_type']):
        strict_train_types.append(d['ans_type'][0])

In [85]:
for num in numeric_type:
    print(num, Counter(strict_train_types)[num])

CARDINAL 6244
DATE 18159
MONEY 297
PERCENT 223
QUANTITY 371
TIME 226
ORDINAL 307

In [86]:
for num in nonnumeric_type:
    print(num, Counter(strict_train_types)[num])

EVENT 133
FAC 343
GPE 6810
LANGUAGE 85
LAW 103
LOC 903
NORP 1222
ORG 4663
PERSON 30571
PRODUCT 245
WORK_OF_ART 281

### Not strict tagging

In [88]:
dev_types=[]
for d in dev:
    if len(d['ans_type'])!=0:
        dev_types.append(d['ans_type'][0])

In [90]:
for num in numeric_type:
    print(num, Counter(train_types)[num])
for non in nonnumeric_type:
    print(non, Counter(train_types)[non])

CARDINAL 6421
DATE 18339
MONEY 320
PERCENT 225
QUANTITY 374
TIME 234
ORDINAL 356
EVENT 137
FAC 397
GPE 7052
LANGUAGE 119
LAW 110
LOC 960
NORP 1652
ORG 5127
PERSON 30964
PRODUCT 252
WORK_OF_ART 283

In [91]:
for num in numeric_type:
    print(num, Counter(dev_types)[num])
for non in nonnumeric_type:
    print(non, Counter(dev_types)[non])

CARDINAL 229
DATE 641
MONEY 16
PERCENT 15
QUANTITY 22
TIME 10
ORDINAL 14
EVENT 9
FAC 22
GPE 328
LANGUAGE 5
LAW 3
LOC 49
NORP 92
ORG 228
PERSON 1119
PRODUCT 18
WORK_OF_ART 14

In [89]:
train_types=[]
for d in train:
    if len(d['ans_type'])!=0:
        train_types.append(d['ans_type'][0])

### Spacy tagging

In [39]:
for d in train:
    doc = nlp(d['answer'][0])
    if len(doc.ents)==0:
        d['ans_type']="unknown"
    else:
        l=[]
        for tag in doc.ents:
            l.append(tag.label_)
        d['ans_type']=l

In [99]:
prediction='Barack Obama was born in August 4th, 1961'
gold='August 4th, 196'

In [100]:
print(f1_score(prediction, gold))

0.36363636363636365

### AmbigNQ statistic

In [23]:
amb_dev_dir='/home/donaldo9603/workspace/checkpoint/data/ambigqa/dev.json'

In [24]:
amb_train_dir='/home/donaldo9603/workspace/checkpoint/data/ambigqa/train.json'

In [25]:
with open(amb_dev_dir) as f:
    amb_dev=json.load(f)

In [26]:
with open(amb_train_dir) as f:
    amb_train=json.load(f)

In [27]:
len(amb_dev)

2002

In [28]:
len(amb_train)

10036

In [29]:
nlp=spacy.load('en_core_web_lg')

In [30]:
amb_dev_sq=[]
for d in amb_dev:
    if all(annot['type']=='singleAnswer' for annot in d['annotations']):
        amb_dev_sq.append(d)

In [31]:
len(amb_dev_sq)

830

In [32]:
amb_train_sq=[]
for d in amb_train:
    if all(annot['type']=='singleAnswer' for annot in d['annotations']):
        amb_train_sq.append(d)

In [34]:
len(amb_train_sq)

5287

In [35]:
amb_dev_sq[0].keys()

dict_keys(['viewed_doc_titles', 'used_queries', 'annotations', 'nq_answer', 'id', 'nq_doc_title', 'question'])

### Dev set creation

In [61]:
ambignq_dev=[]
for d in amb_dev_sq:
    dic={}
    if len(d['annotations'])>1:
        answer=merge_answers(d['annotations'][0]['answer'], d['annotations'][1]['answer'])
    else:
        answer= d['annotations'][0]['answer']
    dic['question']=d['question']
    dic['answer']=answer
    
    ans_types=[]
    doc=nlp(answer[0])
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for ans_type in doc.ents:
            ans_types.append(ans_type.label_)
        dic['ans_type']=ans_types
    ambignq_dev.append(dic)

In [67]:
amb_dev_types=[]
for d in ambignq_dev:
    if len(d['ans_type'])==1 or all_same(d['ans_type']):
        amb_dev_types.append(d['ans_type'][0])

In [68]:
for num in numeric_type:
    print(num, Counter(amb_dev_types)[num])
for non in nonnumeric_type:
    print(non, Counter(amb_dev_types)[non])

CARDINAL 70
DATE 135
MONEY 3
PERCENT 0
QUANTITY 0
TIME 0
ORDINAL 3
EVENT 2
FAC 3
GPE 48
LANGUAGE 3
LAW 0
LOC 5
NORP 9
ORG 37
PERSON 351
PRODUCT 3
WORK_OF_ART 2

In [75]:
cnt=0
for d in ambignq_dev:
    if type(d['ans_type'])== str:
        if d['ans_type']=='unknown':
            cnt+=1
print(cnt)

142

In [63]:
len(ambignq_dev)

830

In [62]:
ambignq_train=[]
for d in amb_train_sq:
    dic={}
    if len(d['annotations'])>1:
        answer=merge_answers(d['annotations'][0]['answer'], d['annotations'][1]['answer'])
    else:
        answer= d['annotations'][0]['answer']
    dic['question']=d['question']
    dic['answer']=answer
    
    ans_types=[]
    doc=nlp(answer[0])
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for ans_type in doc.ents:
            ans_types.append(ans_type.label_)
        dic['ans_type']=ans_types
    ambignq_train.append(dic)

In [65]:
len(ambignq_train)

5287

In [76]:
amb_train_types=[]
for d in ambignq_train:
    if len(d['ans_type'])==1 or all_same(d['ans_type']):
        amb_train_types.append(d['ans_type'][0])

In [154]:
for num in numeric_type:
    print(num, Counter(amb_train_types)[num])
for non in nonnumeric_type:
    print(non, Counter(amb_train_types)[non])

CARDINAL 383
DATE 825
MONEY 11
PERCENT 14
QUANTITY 18
TIME 11
ORDINAL 15
EVENT 5
FAC 16
GPE 379
LANGUAGE 1
LAW 7
LOC 63
NORP 60
ORG 292
PERSON 2033
PRODUCT 10
WORK_OF_ART 10

In [52]:
amb_dev_sq[5]['annotations']

[{'type': 'singleAnswer', 'answer': ['Theresa May']},
 {'type': 'singleAnswer', 'answer': ['Theresa Mary May', 'Theresa May']}]

In [53]:
def merge_answers(l1, l2): # Merge duplicated answers between two string
    l1.extend(l2)
    merged=list(set(l1))
    return merged

In [54]:
print(merge_answers(['Theresa May'], ['Theresa Mary May', 'Theresa May']))

['Theresa Mary May', 'Theresa May']

In [79]:
for d in ambignq_dev:
    if 'CARDINAL' in d['ans_type']:
        print(d['question'])
        print(d['answer'])

How many episodes are in season 2 of chesapeake shores?
['10']
How many chests of tea were dumped in the boston harbor?
['342']
How many episodes are there to my mother and other strangers?
['5', 'five']
How many islands are included in the federated states of micronesia?
['607', 'around 607']
New girl season 7 will have how many episodes?
['8']
How many times french won the world cup?
['2', 'two']
How many times has a nfl teams lost every game?
['twelve']
How many seasons of young dracula are there?
['5']
How many 40 point games does michael jordan have in the playoffs?
['38']
How many arms of government are there in nigeria?
['3', 'three']
How many episodes does riverdale season 2 have?
['22']
How many movies does the twilight series have?
['5', 'five']
What directv channel is hallmark movies and mysteries?
['565', '565 (HD)']
How many states are in the continental united states?
['49']
How many episodes of sesame street are there?
['4,514.', '4514']
How many nuclear weapons did the soviet union have in 1945?
['0']
How long was the empire state building the tallest building?
['1931–1971', 'nearly 40 years', '40 years', '1931 until 1972', '1931 to 1970']
How many seats does the audi r8 have?
['2', '2-seater']
How many unesco world heritage sites in uk?
['28']
How many original harry potter books are there?
['7']
How many journeys did canada's first astronaut make to space?
['three', 'three flights']
Ratio of length and width of indian flag?
['length 1.5 times width', '2:3', 'two by three', '2/3']
How much scoville units is a ghost pepper?
['1,041,427', 'more than 1 million', '1,041,427 SHU']
When did the golden age of athens end?
['404 BC']
How many episodes of the godfather are there?
['72']
How many countries can us citizen travel without visa?
['184', '184 countries and territories']
How many episodes does ncis season 15 have?
['24']
How many episodes are in queen of the south season two?
['13']
How many floors does paris las vegas have?
['33']
When was the nymph's reply to the shepherd written?
['1600']
How many episodes are there in season 2 of miraculous ladybug?
['26']
How many episodes in season three of grace and frankie?
['13']
The number o f railway zones in india are?
['18']
How many episodes in chicago med season 3?
['20']
How many working police commissionerates are there in karnataka?
['six']
When did leonardo da vinci finish painting the mona lisa?
['c. 1506', 'c.1517']
How many episodes of switched at birth season 1?
['30']
When did the aztecs settle in lake texcoco?
['1325']
What is the maximum number of electrons in the first energy shell of an atom?
['2']
How many episodes are in season 2 of the handmades tale?
['13']
1 foot is equal to how much metre?
['0.3048']
How many times did the buffalo bills win the super bowl?
['zero', '0', 'Zero']
Where are bases found on the ph scale?
['greater than 7']
How many nfl mvp does tom brady have?
['3']
How many triple doubles did kobe bryant have in his career?
['21']
What is the population of st thomas virgin islands?
['51,634']
Vote percentage of bjp in 2009 lok sabha election?
['18.80', '18.8', '18.80%']
How many times csk reached final in ipl?
['eight', '8']
How many episodes are in ben 10 alien force season 1?
['13']
What is the record for most wins in jeopardy?
['74']
How many episodes are in wolfblood season 1?
['13']
How many miles is mccarran blvd in reno nv?
['22.972', '22.98', '22.972 mi']
How many episodes in rupauls drag race season 9?
['14']
What percentage of the world died in ww2?
['3', '3%']
How many episodes of judge judy per year?
['260']
How many times has madrid won the uefa champions league?
['thirteen', '13']
How many episodes on 13 reasons why season 2?
['13']
How many episodes in season 4 agents of shield?
['22']
How many episodes does riverdale season one have?
['13']
When was the last western roman emperor overthrown?
['476 AD']
How many episodes are there in permanent roommates season 2?
['8']
How many steps in world health organization pain ladder?
['3']
How many california state senate members are there?
['40']
How many bridges in the city of pittsburgh?
['446 bridges', '446']
How many seasons of shameless usa is there?
['10', 'ten']
How many ford gts are in the world?
['4,038', '4038']
The number on kiss me thru the phone?
['678-999-8212', '6 7 8 999 8 2 1 2']
Number of participating countries in tour de france 2017?
['32']
How many episodes in season 1 of handmades tale?
['10']
How many cities in india has metro train?
['21']

In [80]:
with open('/home/donaldo9603/workspace/numeric/data/squad_anstype.json') as f:
    sq=json.load(f)

In [92]:
len(sq)

10570

In [85]:
sq_type=[]
for d in sq:
    doc = nlp(d['answers'][0])
    if len(doc.ents)!=0:
        l=[]
        for tag in doc.ents:
            l.append(tag.label_)
        if len(l)==1 or all_same(l):

            sq_type.append(l[0])

In [86]:
for num in numeric_type:
    print(num, Counter(sq_type)[num])
for non in nonnumeric_type:
    print(non, Counter(sq_type)[non])

CARDINAL 973
DATE 956
MONEY 99
PERCENT 96
QUANTITY 116
TIME 47
ORDINAL 63
EVENT 42
FAC 64
GPE 544
LANGUAGE 7
LAW 15
LOC 125
NORP 328
ORG 987
PERSON 1180
PRODUCT 57
WORK_OF_ART 48

In [96]:
typ='MONEY'
cnt=0
for d in sq:
    if 'MONEY' in d['ans_type'] and all_same(d['ans_type']):
        cnt+=1

0

In [112]:
len(sq)

10570

In [99]:
sq[2]

{'question': 'Where did Super Bowl 50 take place?',
 'answers': ['Santa Clara, California',
  "Levi's Stadium",
  "Levi's Stadium in the San Francisco Bay Area at Santa Clara, California."],
 'ans_type': 'GPE'}

### NQ strict tagging

In [18]:
from datasets import load_dataset
from collections import Counter

In [6]:
import spacy

In [2]:
nq_dev=load_dataset('nq_open', split='validation')
nq_train=load_dataset('nq_open', split='train')

Found cached dataset nq_open (/home/donaldo9603/.cache/huggingface/datasets/nq_open/nq_open/2.0.0/75b7e191dc38a0f99f451a2cc0dc969fee2965238051d6f03989ff66ea1f39a5)
Found cached dataset nq_open (/home/donaldo9603/.cache/huggingface/datasets/nq_open/nq_open/2.0.0/75b7e191dc38a0f99f451a2cc0dc969fee2965238051d6f03989ff66ea1f39a5)

In [1]:
sq_dev=load_dataset('squad', split='validation')
sq_train=load_dataset('squad', split='train')

NameError: name 'load_dataset' is not defined

In [10]:
print(len(nq_dev))
print(len(nq_train))

3610
87925

In [11]:
nq_dev[0]

{'question': 'when was the last time anyone was on the moon',
 'answer': ['14 December 1972 UTC', 'December 1972']}

In [12]:
nlp=spacy.load('en_core_web_lg')

In [20]:
nq_dev_tag=[]
for idx, d in enumerate(nq_dev):
    dic={}
    dic['id']=idx
    dic['question']=d['question']
    dic['answer']=d['answer']
    
    doc = nlp(d['answer'][0])
    types=[]
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for t in doc.ents:
            types.append(t.label_)
        if all_same(types):
            dic['ans_type']=types[0]
            
        else:
            dic['ans_type']='multiple'
    nq_dev_tag.append(dic)

In [21]:
nq_dev_tag[0]

{'id': 0,
 'question': 'when was the last time anyone was on the moon',
 'answer': ['14 December 1972 UTC', 'December 1972'],
 'ans_type': 'DATE'}

In [22]:
for num in numeric_type:
    print(num, Counter([d['ans_type'] for d in nq_dev_tag])[num])
print(Counter([d['ans_type'] for d in nq_dev_tag])['unknown'])
print(Counter([d['ans_type'] for d in nq_dev_tag])['multiple'])
for non in nonnumeric_type:
    print(non, Counter([d['ans_type'] for d in nq_dev_tag])[non])

CARDINAL 219
DATE 638
MONEY 14
PERCENT 14
QUANTITY 22
TIME 10
ORDINAL 13
776
86
EVENT 9
FAC 19
GPE 322
LANGUAGE 2
LAW 3
LOC 47
NORP 75
ORG 209
PERSON 1101
PRODUCT 17
WORK_OF_ART 14

In [23]:
nq_train_tag=[]
for idx,d in enumerate(nq_train):
    dic={}
    dic['id']=idx
    dic['question']=d['question']
    dic['answer']=d['answer']
    
    doc = nlp(d['answer'][0])
    types=[]
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for t in doc.ents:
            types.append(t.label_)
        if all_same(types):
            dic['ans_type']=types[0]
            
        else:
            dic['ans_type']='multiple'
    nq_train_tag.append(dic)

In [24]:
for num in numeric_type:
    print(num, Counter([d['ans_type'] for d in nq_train_tag])[num])
print(Counter([d['ans_type'] for d in nq_train_tag])['unknown'])
print(Counter([d['ans_type'] for d in nq_train_tag])['multiple'])
for non in nonnumeric_type:
    print(non, Counter([d['ans_type'] for d in nq_train_tag])[non])

CARDINAL 6244
DATE 18159
MONEY 297
PERCENT 223
QUANTITY 371
TIME 226
ORDINAL 307
14603
2136
EVENT 133
FAC 343
GPE 6810
LANGUAGE 85
LAW 103
LOC 903
NORP 1222
ORG 4663
PERSON 30571
PRODUCT 245
WORK_OF_ART 281

In [28]:
import json

In [29]:
with open('/home/donaldo9603/workspace/numeric/data/nq/original_nq_dev_anstype.json', 'w') as f:
    json.dump(nq_dev_tag,f)
with open('/home/donaldo9603/workspace/numeric/data/nq/original_nq_train_anstype.json', 'w') as f:
    json.dump(nq_train_tag,f)

### SQUAD tagging

In [140]:
sq_dev[0]

{'id': '56be4db0acb8001400a502ec',
 'title': 'Super_Bowl_50',
 'context': 'Super Bowl 50 was an American football game to determine the champion of the National Football League (NFL) for the 2015 season. The American Football Conference (AFC) champion Denver Broncos defeated the National Football Conference (NFC) champion Carolina Panthers 24–10 to earn their third Super Bowl title. The game was played on February 7, 2016, at Levi\'s Stadium in the San Francisco Bay Area at Santa Clara, California. As this was the 50th Super Bowl, the league emphasized the "golden anniversary" with various gold-themed initiatives, as well as temporarily suspending the tradition of naming each Super Bowl game with Roman numerals (under which the game would have been known as "Super Bowl L"), so that the logo could prominently feature the Arabic numerals 50.',
 'question': 'Which NFL team represented the AFC at Super Bowl 50?',
 'answers': {'text': ['Denver Broncos', 'Denver Broncos', 'Denver Broncos'],
  'answer_start': [177, 177, 177]}}

In [141]:
sq_dev_tag=[]
for d in sq_dev:
    dic={}
    dic['question']=d['question']
    dic['answers']=d['answers']['text']
    
    doc = nlp(d['answers']['text'][0])
    types=[]
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for t in doc.ents:
            types.append(t.label_)
        if all_same(types):
            dic['ans_type']=types[0]
            
        else:
            dic['ans_type']='multiple'
    sq_dev_tag.append(dic)

In [142]:
for num in numeric_type:
    print(num, Counter([d['ans_type'] for d in sq_dev_tag])[num])
print(Counter([d['ans_type'] for d in sq_dev_tag])['unknown'])
print(Counter([d['ans_type'] for d in sq_dev_tag])['multiple'])
for non in nonnumeric_type:
    print(non, Counter([d['ans_type'] for d in sq_dev_tag])[non])

CARDINAL 973
DATE 956
MONEY 99
PERCENT 96
QUANTITY 116
TIME 47
ORDINAL 63
4437
386
EVENT 42
FAC 64
GPE 544
LANGUAGE 7
LAW 15
LOC 125
NORP 328
ORG 987
PERSON 1180
PRODUCT 57
WORK_OF_ART 48

In [143]:
sq_train_tag=[]
for d in sq_train:
    dic={}
    dic['question']=d['question']
    dic['answers']=d['answers']['text']
    
    doc = nlp(d['answers']['text'][0])
    types=[]
    if len(doc.ents)==0:
        dic['ans_type']='unknown'
    else:
        for t in doc.ents:
            types.append(t.label_)
        if all_same(types):
            dic['ans_type']=types[0]
            
        else:
            dic['ans_type']='multiple'
    sq_train_tag.append(dic)

In [144]:
for num in numeric_type:
    print(num, Counter([d['ans_type'] for d in sq_train_tag])[num])
print(Counter([d['ans_type'] for d in sq_train_tag])['unknown'])
print(Counter([d['ans_type'] for d in sq_train_tag])['multiple'])
for non in nonnumeric_type:
    print(non, Counter([d['ans_type'] for d in sq_train_tag])[non])

CARDINAL 8010
DATE 8940
MONEY 771
PERCENT 1296
QUANTITY 786
TIME 294
ORDINAL 694
33692
4021
EVENT 355
FAC 624
GPE 5647
LANGUAGE 154
LAW 139
LOC 1014
NORP 3917
ORG 7548
PERSON 9110
PRODUCT 323
WORK_OF_ART 264

### Save labeled datas

In [146]:
save_dir='/home/donaldo9603/workspace/numeric/data/230919_strict_spacy_tagging/nq_open_dev.json'

In [147]:
with open(save_dir, 'w') as f:
    json.dump(nq_dev_tag, f)

In [148]:
save_dir='/home/donaldo9603/workspace/numeric/data/230919_strict_spacy_tagging/nq_open_train.json'

In [149]:
with open(save_dir, 'w') as f:
    json.dump(nq_train_tag, f)

In [150]:
save_dir='/home/donaldo9603/workspace/numeric/data/230919_strict_spacy_tagging/squad_dev.json'

In [151]:
with open(save_dir, 'w') as f:
    json.dump(sq_dev_tag, f)

In [152]:
save_dir='/home/donaldo9603/workspace/numeric/data/230919_strict_spacy_tagging/squad_train.json'

In [153]:
with open(save_dir, 'w') as f:
    json.dump(sq_train_tag, f)