In [1]:
import json
import tiktoken

In [2]:
encoding = tiktoken.get_encoding("cl100k_base")

In [3]:
def num_tokens_from_string(string: str, encoding_name: str) -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

### NQ-expansion-zero

In [75]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49168/NQ_eval.json'

In [76]:
with open(data_dir) as f:
    data=json.load(f)

In [78]:
data[0].keys()

dict_keys(['question', 'golden_answer', 'answer_fid', 'judge_fid', 'answer_gpt35', 'judge_gpt35', 'answer_chatgpt', 'judge_chatgpt', 'answer_gpt4', 'judge_gpt4', 'answer_newbing', 'judge_newbing', 'improper', 'ans_type', 'expand', 'fb', 'inst_expand'])

In [85]:
input_sum=0
output_sum=0
instruction="You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.\n"
for d in data:
    answer=''
    for ans in d['golden_answer']:
        answer+=ans+'/'
    answer=answer[:-1]
    input=instruction
    input+="Question: {}\nGold Answers: {}\n".format(d['question'], answer)
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [86]:
print((input_sum*0.0015+output_sum*0.002)/1000)

0.563298

### NQ-expansion-random

In [402]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/51850/NQ_eval.json'

In [403]:
with open(data_dir) as f:
    data=json.load(f)

In [409]:
data[5].keys()

dict_keys(['question', 'golden_answer', 'answer_fid', 'judge_fid', 'answer_gpt35', 'judge_gpt35', 'answer_chatgpt', 'judge_chatgpt', 'answer_gpt4', 'judge_gpt4', 'answer_newbing', 'judge_newbing', 'improper', 'ans_type', 'expand', 'fb'])

In [410]:
input_sum=0
output_sum=0
for d in data:
    #input=d['inst_expand_input']
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

KeyError: 'inst_expand'

In [214]:
print(input)

You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.
Question: where does the movie great outdoors take place
Gold Answers:  Wisconsin/Montana/Colorado/Minnesota/California/Wisconsin/Oregon
Question: when did mc hammer can't touch this
Gold Answers: 1990-01-13T00:00:00.000000000/January 13, 1990/1990-01-13T00:00:00.000Z/1990-01-13T00:00:00.000000Z/1990-01/1990-01-13T00:00:00Z/1990/1990-01-13/1990-01-13T00:00:00.000000000000Z/1990-01-13T00:00:00/1990-01-13T00:00:00.000000/1990-01-13T00:00:00.000000000000/1990-01-13T00:00:00.000000000Z
Question: what's the most home runs hit in the home run derby
Gold Answers: 91
Question: who played nanny in nanny and the professor
Gold Answers: Juliet/Juliet Mills/Gold Answers: Juliet Mills
Question: how many secondary schools are there in wales
Gold Answers: There are 205 secondary schools in Wales./205
Question: where was the battle of bunker hill actually fought
Gold Answers: Boston/Gold Answers: Breed's Hill/Charlestown, Boston/Bunker Hill, Charlestown/ Bunker Hill/Breed's Hill, Bunker Hill/Breed's Hill
Question: who played the little boy in close encounters of the third kind
Gold Answers: Barry Gufton III/Cary Guffey/Barry Gufton Jr./Barry Gufton
Question: who has been nominated for the most best actor oscars
Gold Answers: Tom Hanks/ Spencer Tracy/Spencer Tracy/F. Murray Abraham/Burt Lancaster/Laurence Olivier/Marlon Brando/Lee Marvin/Gene Hackman/Yul Brynner/Gregory Peck/Al Pacino/Paul Newman/Rex Harrison/Fredric March/John Wayne/Dustin Hoffman/Peter O'Toole/Paul/Sean Penn/Clark Gable/Walter Matthau/James Stewart/George C. Scott/Maximilian Schell/William Holden/Gary Cooper/Charlton Heston/Jon Voight/Peter Finch/Ben Kingsley/Robert Duvall/Art Carney/Alec Guinness/Cliff Robertson/Jack Lemmon/Jack Nicholson/Denzel Washington/Richard Burton/Peter Sellers/Daniel Day-Lewis/Rod Steiger/Sidney Poitier/William Hurt/Anthony Hopkins/Robert De Niro
Question: when did computer become widespread in homes and schools
Gold Answers: 1980s/

In [153]:
print((input_sum*0.0015+output_sum*0.002)/1000)

3.9005715

In [198]:
input_sum=0
output_sum=0
for d in data:
    input=new_instruction
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [199]:
print((input_sum*0.0015)/1000)

1.83918

### NQ-expansion-entity

In [200]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/51097/NQ_eval.json'

In [201]:
with open(data_dir) as f:
    data=json.load(f)

In [202]:
input_sum=0
output_sum=0
for d in data:
    input=d['inst_expand_input']
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [203]:
print((input_sum*0.0015+output_sum*0.002)/1000)

1.9263690000000002

In [204]:
print((input_sum*0.0015)/1000)

1.700709

In [118]:
input

"You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.\nQuestion: where did lucy jones come in the eurovision 2017\nGold Answers: 15th place/15th/fifteenth/fifteenth place\nQuestion: How many physicians did Namibia have in 2002?\nGold Answers: 598/almost 600/approximately 600/five hundred ninety eight/approx. 600/almost 600\nQuestion: how much of canada's gdp is oil\nGold Answers: 2.9%/almost 3%/about 3%\nQuestion: How tall was John?\nGold Answers: 5 ft 5 in/5 feet 5 inches/165cm/1.65m/1.65 meters\nQuestion: how much money does the iditarod winner get\nGold Answers: $69,000/69,000 dollars/about $70,000\nQuestion: who was the publisher of brave new world\nGold Answers: Chatto & Windus/Chatto and Windus/Chatto&Windus\nQuestion: where did kate and prince william get engaged\nGold Answers: Kenya/Rutundu, Kenya/Rutundu/East Africa\nQuestion: On what date did India gain its independence?\nGold Answers: 15 August 1947/1947/Aug 1947/August 1947/August 15 1947/August 15th 1947/Aug 15, 1947\nQuestion: when did computer become widespread in homes and schools\nGold Answers: 1980s/"

### TQ-expansion-zero

In [92]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/49302/TQ_eval.json'

In [93]:
with open(data_dir) as f:
    data=json.load(f)

In [94]:
input_sum=0
output_sum=0
instruction="You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.\n"
for d in data:
    answer=''
    for ans in d['golden_answer']:
        answer+=ans+'/'
    answer=answer[:-1]
    input=instruction
    input+="Question: {}\nGold Answers: {}\n".format(d['question'], answer)
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [95]:
print((input_sum*0.0015+output_sum*0.002)/1000)

0.457544

### TQ-expansion-random

In [411]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/51852/TQ_eval.json'

In [412]:
with open(data_dir) as f:
    data=json.load(f)

In [413]:
data[0].keys()

dict_keys(['question', 'golden_answer', 'answer_fid', 'judge_fid', 'answer_gpt35', 'judge_gpt35', 'answer_chatgpt', 'judge_chatgpt', 'answer_gpt4', 'judge_gpt4', 'answer_newbing', 'judge_newbing', 'improper', 'ans_type', 'fb', 'wiki'])

In [389]:
input_sum=0
output_sum=0
for d in data:
    input=d['inst_expand_input']
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [390]:
print((input_sum*0.0015+output_sum*0.002)/1000)

1.6818389999999999

In [391]:
print(input)

You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.
Question: Composers Beethoven and Schubert both died after completing which number symphony?
Gold Answers: Eight/9/Nine/8
Question: In the Bible, who is the father of Shem, Ham and Japheth?
Gold Answers: Abraham/Noah/Jacob/Adam/Lamech/Terah/Isaac
Question: Lumia is a product brand of which phone company?
Gold Answers: FIH Mobile/ Microsoft/HMD Global/Nokia/Foxconn/Microsoft
Question: Who is the mother of actress Vanessa Redgrave?
Gold Answers: Gold Answers: Rachel Kempson/Actress Lynn Redgrave's mother/Georgiana Drew/Rachel Kempson/Actress Vanessa Redgrave's mother
Question: Which US band named themselves after their strict gym teacher at their high school, Mr Skinner.
Gold Answers: The Beach Boys (Brian Wilson, Dennis Wilson, Carl Wilson, Mike Love, and Al Jardine)/Lynyrd Skynyrd (Leonard Skinner)./The Eagles (Glenn Frey, Don Henley, Bernie Leadon, and Randy Meisner)/The Allman Brothers Band (Duane Allman, Gregg Allman, Dickey Betts, Berry Oakley, Butch Trucks, Jai Johanny Johanson, and Chuck Leavell)
Question: What was abolished in Russia in 1861?
Gold Answers: Emancipation of serfs/Serfdom was abolished/Emancipation of serfs in Russia/The Emancipation Manifesto of 1861/Serfdom/ Serfdom was abolished in 1861
Question: What is significant about a mountain called a ‘mesa’?
Gold Answers:  Table/Flat Topped/Elevated/Plateau/Flat/Highland/Steep-sided/Butte/Geological Formation
Question: Which US actress's real name is Mary Cathleen Collins?
Gold Answers: Mary Collins/Bo Derek Collins/Bo Derek/Mary Cathleen Collins
Question: The wine ‘Bull’s Blood’ of Eger is produced in which country?
Gold Answers: Hungary/

In [372]:
input_sum=0
output_sum=0
for d in data:
    input=new_instruction
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [373]:
print((input_sum*0.0015+output_sum*0.002)/1000)

1.230532

In [374]:
print((input_sum*0.0015)/1000)

1.168614

### TQ-expansion-entity

In [375]:
data_dir='/home/donaldo9603/workspace/numeric/gptexpansion/out/51098/TQ_eval.json'

In [376]:
with open(data_dir) as f:
    data=json.load(f)

In [377]:
input_sum=0
output_sum=0
for d in data:
    input=d['inst_expand_input']
    output=''
    for ans in d['inst_expand'][1:]:        
        output+=ans+'/'
    output=output[:-1]
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [378]:
print((input_sum*0.0015+output_sum*0.002)/1000)

1.112377

In [379]:
print((input_sum*0.0015)/1000)

1.050459

### NQ-inference

In [45]:
data_dir='/home/donaldo9603/workspace/numeric/gpteval_inst/out/50614/NQ_eval.json'

In [46]:
with open(data_dir) as f:
    data=json.load(f)

In [47]:
data[0].keys()

dict_keys(['question', 'golden_answer', 'answer_fid', 'judge_fid', 'answer_gpt35', 'judge_gpt35', 'answer_chatgpt', 'judge_chatgpt', 'answer_gpt4', 'judge_gpt4', 'answer_newbing', 'judge_newbing', 'improper', 'ans_type', 'expand', 'fb', 'hardem_gpt4', 'softem_gpt4', 'f1_gpt4', 'bem_gpt4', 'instzero_gpt4', 'instzero_gpt4_prompt'])

In [48]:
for d in data:
    input=d['instzero_gpt4_prompt']
    output=d['instzero_gpt4']
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [50]:
print((input_sum*0.0015+output_sum*0.002)/1000/5)

0.49677899999999997

### TQ-inference

In [70]:
data_dir='/home/donaldo9603/workspace/numeric/gpteval_inst/out/50618/TQ_eval.json'

In [71]:
with open(data_dir) as f:
    data=json.load(f)

In [72]:
for d in data:
    input=d['instzero_gpt4_prompt']
    output=d['instzero_gpt4']
    input_sum+=num_tokens_from_string(input, 'cl100k_base')
    output_sum+=num_tokens_from_string(output, 'cl100k_base')

In [74]:
print((input_sum*0.0015+output_sum*0.002)/1000/5)

0.3151733

### Random_few sort

In [166]:
from eval import normalize_answer

In [392]:
with open("/home/donaldo9603/workspace/numeric/data/evouna/few_shot/1201NQ_train_expansion.json") as f:
    nq_few=json.load(f)

In [393]:
for d in nq_few['random']:
    inst_exp=[]
    for ans in d['expand']:
        inst_exp.append(normalize_answer(ans))
    inst_exp=list(set(inst_exp))
    if len(inst_exp)>7:
        inst_exp=inst_exp[:7]
    d['expand']=inst_exp

In [394]:
new_instruction=instruction
for d in nq_few['random']:
    ans=''
    for a in d['expand']:
        ans+=a+'/'
    ans=ans[:-1]
    new_instruction+="Question: {}\nGold Answers: {}\n".format(d['question'], ans)

In [397]:
print(new_instruction)

You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.
Question: who has been nominated for the most best actor oscars
Gold Answers: maximilian schell/george c scott/gregory peck/tom hanks/anthony hopkins/robert de niro/f murray abraham
Question: what's the most home runs hit in the home run derby
Gold Answers: 91
Question: who played nanny in nanny and the professor
Gold Answers: gold answers juliet mills/juliet mills/juliet
Question: when did mc hammer can't touch this
Gold Answers: 1990 01 13/1990 01 13t00 00 00 000000000z/january 13 1990/1990 01 13t00 00 00/1990 01 13t00 00 00 000000000/1990 01/1990 01 13t00 00 00z
Question: who played the little boy in close encounters of the third kind
Gold Answers: barry gufton iii/barry gufton jr/barry gufton/cary guffey
Question: where does the movie great outdoors take place
Gold Answers: minnesota/wisconsin/california/montana/colorado/oregon
Question: how many secondary schools are there in wales
Gold Answers: there are 205 secondary schools in wales/205
Question: where was the battle of bunker hill actually fought
Gold Answers: gold answers breed s hill/breed s hill/breed s hill bunker hill/charlestown boston/bunker hill/boston/bunker hill charlestown

In [238]:
with open("/home/donaldo9603/workspace/numeric/data/evouna/few_shot/1201NQ_train_expansion.json", 'w') as f:
    json.dump(nq_few,f )

In [368]:
with open("/home/donaldo9603/workspace/numeric/data/evouna/few_shot/1201TQ_train_expansion.json") as f:
    tq_few=json.load(f)

In [369]:
for d in tq_few['random']:
    inst_exp=[]
    for ans in d['expand']:
        inst_exp.append(normalize_answer(ans))
    inst_exp=list(set(inst_exp))
    if len(inst_exp)>4:
        inst_exp=inst_exp[:4]
    d['expand']=inst_exp

In [370]:
new_instruction=instruction
for d in tq_few['random']:
    ans=''
    for a in d['expand']:
        ans+=a+'/'
    ans=ans[:-1]
    new_instruction+="Question: {}\nGold Answers: {}\n".format(d['question'], ans)

In [371]:
new_instruction

"You are a given a question and a set of gold-standard reference answers (split with /) written by experts. Your task is to provide other forms of gold reference answers that can also be correct for the given question. Split your answers with /.\nQuestion: Which US actress's real name is Mary Cathleen Collins?\nGold Answers: bo derek/mary cathleen collins/bo derek collins/mary collins\nQuestion: Lumia is a product brand of which phone company?\nGold Answers: microsoft/fih mobile/nokia/foxconn\nQuestion: Who is the mother of actress Vanessa Redgrave?\nGold Answers: actress lynn redgrave s mother/georgiana drew/gold answers rachel kempson/actress vanessa redgrave s mother\nQuestion: In the Bible, who is the father of Shem, Ham and Japheth?\nGold Answers: abraham/terah/adam/jacob\nQuestion: What is significant about a mountain called a ‘mesa’?\nGold Answers: plateau/flat/geological formation/butte\nQuestion: Composers Beethoven and Schubert both died after completing which number symphony?\nGold Answers: nine/eight/8/9\nQuestion: Which US band named themselves after their strict gym teacher at their high school, Mr Skinner.\nGold Answers: eagles glenn frey don henley bernie leadon and randy meisner/beach boys brian wilson dennis wilson carl wilson mike love and al jardine/allman brothers band duane allman gregg allman dickey betts berry oakley butch trucks jai johanny johanson and chuck leavell/lynyrd skynyrd leonard skinner\nQuestion: What was abolished in Russia in 1861?\nGold Answers: emancipation of serfs in russia/serfdom/emancipation manifesto of 1861/emancipation of serfs\n"

In [380]:
with open("/home/donaldo9603/workspace/numeric/data/evouna/few_shot/1201TQ_train_expansion.json", 'w') as f:
    json.dump(tq_few,f)